$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #6869B0;
}

.center{
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.board{
  @extend .center;
  position: absolute;
  // outline: 1px dashed white;
  width: 50%;
}

.board-row{
  width: 100%;
  // outline: 1px dashed gray;
  margin-top: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}

.cell{
  width: 70px;
  height: 70px;
  margin: 3px;
  border: 1px solid white;
  border-radius: 0px;
  transition: all ease-in 0.1s;
  position: relative;
  
  &.empty{
    cursor: pointer;
     &:hover{
      background-color: white;
      border: 1px solid white;
      
      .symbol{
        color: #6869B0;
      }
    }
  }
  
}

.symbol{
  @extend .center;
  position: absolute;
  color: white;
  font-size: 2em;
  text-align: center;
  width: 20%;
}

.player{
  $width: 100px;
  $height: 100px;
  
  width: $width;
  height: $height;
  position: absolute;
  top: 40%;
  transition: all ease 0.2;
  
  img{
    width: $width;
    height: $height;
    border: 3px solid white;
    border-radius: 150px;
  }
  
  &.current{
    transform: scale(1.5, 1.5);
  }
  
  
  &.player1{
    left: 10%;
  }

  &.player2{
    right: 10%;
  }
}



